* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    padding: 80px;
    padding: 3rem;
    background-color: #333333;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
}

#first-section,
#form-section {
    background-color: white;
}

.div2 {
    background-color: #996666;
    color: white;
}

.div3 {
    background-color: #cc9999;
    color: white;
}

.div4 {
    background-color: #9999cc;
    color: white;
}

.div5 {
    background-color: #9999cc;
    color: white;
}

footer {
    color: #cbcbcb;
}
